* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.app { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
  background-color: #049ba2;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

/* Header */

.navbar {
  height: 165px;
  padding: 0 50px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.logo {
  width: 100px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 430px;
  padding: 0 56px;
}

.nav__link {
  color: #049ba2;
  margin: 0 12px;
  font-weight: 700;
}

.nav__btn {
  background-color: #049ba2;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav__btn:hover {
  background-color: #8686c1;
}

/* 

Landing

*/

.landing__page {
margin: 0 auto;
}

.landing__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.landing__title {
  font-size: 42px;
  width: 650px;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  color: #049BA2;
}

.landing__sub-title {
  font-size: 36px;
  margin-bottom: 64px;
}

.input__wrapper {
  display: flex;
  max-width: 100%;
  border: none;
  color: #049BA2;
}
.search__btn {
  margin-left: 20px;
  padding: 10px 60px;
  border: none;
  background-color: #049BA2;
  border-radius: 20px;
  box-shadow: 0 12px 20px 0 rgb(0, 0, 0, 0.2);
  transition: all 300ms ease;
}

.search__btn:hover {
  background-color: #8686c1;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}


.fa-magnifying-glass {
  color: #fff;
  font-size: 36px;
}

.search__input {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    max-width: 80%;
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
}

#movies__section {
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.movies {
  max-width: 1000px;
  width: 100%;
  margin: 32px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}

.movie {
  max-width: 33%;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  width: 100%;
  display: block;
}


.movie__img {
  max-width: 100%;
  margin-bottom: 20px;
}

.movie__title-wrapper {
  display: block;
  max-width: 100%;
}



/* 

footer 

*/

footer {
  height: 160px;
  background-color: #049BA2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  height: 50px;
  margin-bottom: 20px;
}

.copyright { 
  font-weight: 1000;
}